# Import necessary packages

In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Reducing Size

In [8]:
def Cleaning_Data(rawdata):
    rawdata['Over'] = rawdata['Over'].astype('int16')
    rawdata['Runs_Batter'] = rawdata['Runs_Batter'].astype('int16')
    rawdata['Runs_Extras'] = rawdata['Runs_Extras'].astype('int16')
    rawdata['Runs_Total'] = rawdata['Runs_Total'].astype('int16')
    rawdata['Wickets'] = rawdata['Wickets'].astype('int16')
    rawdata['Team'] = rawdata['Team'].astype('category')
    rawdata['Batter'] = rawdata['Batter'].astype('category')
    rawdata['Bowler'] = rawdata['Bowler'].astype('category')
    rawdata['Non_Striker'] = rawdata['Non_Striker'].astype('category')
    rawdata['fielder_name'] = rawdata['fielder_name'].astype('category')
    rawdata['kind'] = rawdata['kind'].astype('category')
    rawdata['player_out'] = rawdata['player_out'].astype('category')
    rawdata['match_type_number'] = pd.to_numeric(rawdata['match_type_number'], errors='coerce')

In [353]:
def reduce_match_information(rawdata):
    rawdata['winner'] = rawdata['winner'].astype('category')
    rawdata['win_by'] = rawdata['win_by'].astype('category')
    rawdata['toss_decision'] = rawdata['toss_decision'].astype('category')
    rawdata['dates'] = pd.to_datetime(rawdata['dates'])

# Data Cleaning Functions

In [347]:
def cleaning_innings_dataset(rawdata):
    rawdata['fielder_name'] = rawdata['fielder_name'].fillna('no')
    rawdata['kind'] = rawdata['kind'].fillna('Not Out')
    rawdata['player_out'] = rawdata['player_out'].fillna('Not Out')

def filling_match_info_na(rawdata):
    df['city'] = df['city'].fillna('no result')
    df['event'] = df['event'].fillna('no result')
    df['wickets/runs'] = df['wickets/runs'].fillna('no result')
    df['win_by'] = df['win_by'].fillna('no result')
    df['player_of_match'] = df['player_of_match'].fillna('no result')

In [316]:
def correct_POM(column):
    if not isinstance(column,float):
        return column.strip("['']")
    else:
        return column

In [320]:
def correct_winby(column):
    if column != "no result":
        return column.strip('{}').split("'")[1]

In [318]:
def correct_wickets_runs(column):
    if column != "no result":
        return column.strip('{}').split("'")[2][1:].strip()

# Pakistan T20 innings

In [40]:
pakistan_T20_matches = pd.read_csv('./matches_info_innings_data/T20_Pakistan_matches_Dataset.csv')

In [12]:
Cleaning_Data(pakistan_T20_matches)

In [14]:
pakistan_T20_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56234 entries, 0 to 56233
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               56234 non-null  category
 1   Over               56234 non-null  int16
 2   Batter             56234 non-null  category
 3   Bowler             56234 non-null  category
 4   Non_Striker        56234 non-null  category
 5   Runs_Batter        56234 non-null  int16
 6   Runs_Extras        56234 non-null  int16
 7   Runs_Total         56234 non-null  int16
 8   Wickets            56234 non-null  int16
 9   fielder_name       56234 non-null  category
 10  kind               56234 non-null  category
 11  player_out         56234 non-null  category
 12  match_type_number  56234 non-null  int64
dtypes: category(7), int16(5), int64(1)
memory usage: 1.7 MB

In [42]:
pakistan_T20_matches.head()

,Team,Over,Batter,Bowler,Non_Striker,Runs_Batter,Runs_Extras,Runs_Total,Wickets,fielder_name,kind,player_out,match_type_number
0,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,0,0,0,0,no,Not Out,Not Out,1002
1,Pakistan,0,Babar Azam,MA Starc,Fakhar Zaman,1,0,1,0,no,Not Out,Not Out,1002
2,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,no,Not Out,Not Out,1002
3,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,0,0,0,0,no,Not Out,Not Out,1002
4,Pakistan,0,Fakhar Zaman,MA Starc,Babar Azam,2,0,2,0,no,Not Out,Not Out,1002

In [38]:
pakistan_T20_matches.to_csv('./matches_info_innings_data/T20_Pakistan_matches_Dataset.csv',index = False)

# Matches_info

In [359]:
df = pd.read_csv('./matches_info_innings_data/matches_information.csv')
df = df.drop(columns={'stage','match_type','team_type'},axis=1)
df['player_of_match'] = df['player_of_match'].apply(correct_POM)
df = df.rename(columns={'winner_by':'win_by'})
df['wickets/runs'] = df['win_by'].apply(correct_win_by)
df['win_by'] = df['win_by'].apply(correct_winby)
filling_match_info_na(df)
reduce_match_information(df)

In [ ]:
df.info()

In [ ]:
# to csv converstion
df.to_csv('./Pakistan_T20_InternationTeam_matches_info.csv',index = False)

# Players info

In [367]:
players = pd.read_csv('./matches_info_innings_data/player_information.csv')
players.head()

,name,team,match_type_number,match_type,venue
0,Sharjeel Khan,Pakistan,568,T20,Dubai International Cricket Stadium
1,Khalid Latif,Pakistan,568,T20,Dubai International Cricket Stadium
2,Babar Azam,Pakistan,568,T20,Dubai International Cricket Stadium
3,Shoaib Malik,Pakistan,568,T20,Dubai International Cricket Stadium
4,Umar Akmal,Pakistan,568,T20,Dubai International Cricket Stadium

In [369]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5347 entries, 0 to 5346
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5347 non-null   object
 1   team               5347 non-null   object
 2   match_type_number  5347 non-null   int64
 3   match_type         5347 non-null   object
 4   venue              5347 non-null   object
dtypes: int64(1), object(4)
memory usage: 209.0+ KB

In [373]:
# remove the T20 columns as we are analyzing T20 data
players = players.drop(columns={'match_type'})

In [379]:
players.to_csv('./T20_Players_info.csv',index = False )